$cl-primary: rgba(232, 41, 62, 1);
$cl-secondary: #007df7;
$cl-accent: #ff735e;
$cl-title: #1b1b1d;
// text
// icon
$cl-subtitle: rgba(29, 29, 31, 0.4);
$cl-bg-primary: #fff;
// title-inverse
$cl-text-inverse: rgba(255, 255, 255, 0.4);
$cl-bg-secondary: #f5f8f8;
$cl-bg-dark: #1e293d;
$cl-bg-dark-accent: #20364c;
$cl-border: rgba(207, 207, 207, 1);
$cl-shadow: rgba(0, 0, 0, 0.15);
$cl-overlay: rgba(0, 0, 0, 0.5);
$cl-hover: #2f3439;
$cl-color-1: #35404a;
$cl-color-2: #4f6279;
$cl-color-3: #0098d8;
$cl-color-4: #ff4f49;
$cl-color-5: #ff7a2f;
$cl-color-6: #ffc700;
$cl-color-7: #34dca2;
$cl-color-8: #00ada9;